/.metadata/
# ------------------------------
# IntelliJ IDEA
# ------------------------------
.idea/
*.iml
*.iws
out/

# ------------------------------
# Eclipse
# ------------------------------
.project
.classpath
.settings/
bin/

# ------------------------------
# Maven
# ------------------------------
target/
!.mvn/wrapper/maven-wrapper.jar

# ------------------------------
# Logs
# ------------------------------
*.log
logs/
Production_Monitoring/Logs/Selenium.log

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Java
# ------------------------------
*.class
*.jar
*.war
*.ear

# ------------------------------
# Build tools
# ------------------------------
build/
.gradle/
*.swp
*.swo

# ------------------------------
# Git
# ------------------------------
*.orig
*.rej

# ------------------------------
# Others
# ------------------------------
env/
*.env
*.bak
*.tmp
